In [2]:
l = [1,56,43,54]
l.sort()

In [16]:
def lprint(i):
    for x in i:
        print(x,end=" ")
lprint(l)

45 45 56 54 43 1

In [6]:
l[0]

1

In [9]:
l.append(45)
lprint(l)

1 43 54 56 45 45

In [10]:
l[::-1]
lprint(l)

1 43 54 56 45 45

In [11]:
l.reverse()

In [17]:
lprint(l)

45 45 56 54 43 1

In [18]:
newlist = l[1:3]

In [19]:
lprint(newlist)

45 56

In [28]:
rem = int(input("Enter index you want to remove "))

Enter index you want to remove 100

In [29]:
try:
    l.pop(rem)
except IndexError:
    print("Invalid index provided")

Invalid index provided

In [36]:
fin = int(input("Enter number you want to find "))
if fin in l:
    print(fin,"is found at index",l.index(fin))
else:
    print(fin,"not in list")

Enter number you want to find 43
43 is found at index 3

In [30]:
countries = ("India","USA","China","UK","Germany","Japan")
capitals = ("New Delhi", "Washington D.C", "Beijing", "London","Berlin","Tokyo")

In [31]:
print("The capitals of various countries are :")
for con,cap in zip(countries,capitals):
    print("The capital of {0} is {1}".format(con,cap))

The capitals of various countries are :
The capital of India is New Delhi
The capital of USA is Washington D.C
The capital of China is Beijing
The capital of UK is London
The capital of Germany is Berlin
The capital of Japan is Tokyo

In [33]:
capitals_dict = {}
for con,cap in zip(countries,capitals):
    capitals_dict[con]=cap
capitals_dict

{'India': 'New Delhi',
 'USA': 'Washington D.C',
 'China': 'Beijing',
 'UK': 'London',
 'Germany': 'Berlin',
 'Japan': 'Tokyo'}

In [39]:
a = [1,2,2,3,3,1,3,2,1]
freq = {}
uniq = set()
for x in a:
    if x in freq:
        freq[x]=freq[x]+1
    else:
        freq[x]=1
    uniq.add(x)
    
print("Unique elements are")
print(uniq)
print("Frequency of element is")
freq

Unique elements are
{1, 2, 3}
Frequency of element is

{1: 3, 2: 3, 3: 3}

In [40]:
double = [[1,2],[2,3],[7,8],[5,4]]
double.sort()
double

[[1, 2], [2, 3], [5, 4], [7, 8]]

In [54]:
def month1(num):
    #match doesn't work as we are in python
    match(num):
        case 1:
            print("January")
        case 2:
            print("February")
        case 3:
            print("March")
        case 4:
            print("April")
        case 5:
            print("May")
        case 6:
            print("June")
        case 7:
            print("July")
        case 8:
            print("August")
        case 9:
            print("September")
        case 10:
            print("October")
        case 11:
            print("November")
        case 12:
            print("December")
        case _:
            print("Invalid")
            
month1(1)

SyntaxError: invalid syntax (1271750181.py, line 2)

In [55]:
import sys
print (sys.version_info)

sys.version_info(major=3, minor=8, micro=10, releaselevel='final', serial=0)

In [52]:
#doesn't work in Python 3.8
flag = False
match (100, 200):
   case (100, 300):  # Mismatch: 200 != 300
       print('Case 1')
   case (100, 200) if flag:  # Successful match, but guard fails
       print('Case 2')
   case (100, y):  # Matches and binds y to 200
       print(f'Case 3, y: {y}')
   case _:  # Pattern not attempted
       print('Case 4, I match anything!')

SyntaxError: invalid syntax (1922732038.py, line 2)

In [61]:

class student():
    def __init__(self,roll_no,name,marks):
        self.r = roll_no
        self.n = name
        self.m = marks
    def to_percent(self):
        self.percent = self.m*100/500

x=student(1,"Aryan",500)
print(x.r,x.n,x.m)
mark = x.m
x.to_percent()
print(x.percent)

1 Aryan 500
100.0