In [1]:
"""
Perform the following operations on the given dataset
1)Find shape
2)Describe the data
3)Find the datatype of each column of the dataset
4)Number of zeroes in each column
5)Find missing values
6)Mean, mode,median of each column
7)Prepare subset based on following conditions
"""

'\n'

In [3]:
import pandas as pd
import numpy as np

In [61]:
df = pd.DataFrame(pd.read_csv("3069_Iris.csv",delimiter=";"))

In [62]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [56]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [14]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [16]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [17]:
df.columns

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [18]:
#Question 1
df.shape

(150, 5)

In [19]:
#question 2
df.describe

<bound method NDFrame.describe of      sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>

In [64]:
df.loc[1]

sepal.length       4.9
sepal.width        3.0
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 1, dtype: object

In [96]:
#question 3
df.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [107]:
#Question 4
print("Number of zeroes in")
for i in df.iloc[:, :-1]:
    print(i,"=",(df[i]==0).sum())

Number of zeroes in
sepal.length = 0
sepal.width = 0
petal.length = 0
petal.width = 0

In [93]:
#Question 6
print("Mean values")

sepal.length 5.843333333333334
sepal.width 3.0573333333333337
petal.length 3.7580000000000005
petal.width 1.1993333333333336

In [110]:
print("Median Values")
df.iloc[:, :-1].median()

Median Values

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

In [114]:
print("Mode values")
for i in df.iloc[:, :-1]:
    print(i,df[i].mode())

Mode values
sepal.length 0    5.0
Name: sepal.length, dtype: float64
sepal.width 0    3.0
Name: sepal.width, dtype: float64
petal.length 0    1.4
1    1.5
Name: petal.length, dtype: float64
petal.width 0    0.2
Name: petal.width, dtype: float64

In [115]:
#question 5
(df.isnull()).sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64