In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [5]:
#Question 1
df = pd.DataFrame(pd.read_csv('T1_online_shoppers_intention - T1_online_shoppers_intention.csv'))

In [8]:
#Question 2
print("Shape of the dataset is",df.shape)

Shape of the dataset is (12330, 18)

In [11]:
#Question 3
print("Datatypes of columns of dataset are")
df.dtypes

Datatypes of columns of dataset are

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [20]:
#Question 4
print("Number of zeroes in each column")
print ((df==0).sum())

Number of zeroes in each column
Administrative              5768
Administrative_Duration     5903
Informational               9699
Informational_Duration      9925
ProductRelated                38
ProductRelated_Duration      755
BounceRates                 5518
ExitRates                     76
PageValues                  9600
SpecialDay                 11079
Month                          0
OperatingSystems               0
Browser                        0
Region                         0
TrafficType                    0
VisitorType                    0
Weekend                     9462
Revenue                    10422
dtype: int64

In [26]:
#Question 5
print("Number of null or NaN values are")
print(df.isnull().sum())

Number of null or NaN values are
Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [30]:
#Question 6
numeric = df.select_dtypes(include=['int64', 'float64'])
print("Mean of data")
numeric.mean()

Mean of data

Administrative                2.315166
Administrative_Duration      80.818611
Informational                 0.503569
Informational_Duration       34.472398
ProductRelated               31.731468
ProductRelated_Duration    1194.746220
BounceRates                   0.022191
ExitRates                     0.043073
PageValues                    5.889258
SpecialDay                    0.061427
OperatingSystems              2.124006
Browser                       2.357097
Region                        3.147364
TrafficType                   4.069586
dtype: float64

In [31]:
print("Median of data")
numeric.median()

Median of data

Administrative               1.000000
Administrative_Duration      7.500000
Informational                0.000000
Informational_Duration       0.000000
ProductRelated              18.000000
ProductRelated_Duration    598.936905
BounceRates                  0.003112
ExitRates                    0.025156
PageValues                   0.000000
SpecialDay                   0.000000
OperatingSystems             2.000000
Browser                      2.000000
Region                       3.000000
TrafficType                  2.000000
dtype: float64

In [32]:
print("Mode of data")
numeric.mode()

Mode of data

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
0,0,0.0,0,0.0,1,0.0,0.0,0.2,0.0,0.0,2,2,1,2

In [33]:
#Question 7
df.fillna(numeric.mode)

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [38]:
#Question 9
y = df['Revenue']
x = df.drop('Revenue',axis=1)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)
print(x_train.head)
print("----------")
print(x_test.head)

<bound method NDFrame.head of        Administrative  Administrative_Duration  Informational  \
7808                0                 0.000000              0
1327                1                 4.000000              0
3235                4                73.000000              0
3936                2               180.000000              3
4537                0                 0.000000              0
...               ...                      ...            ...
2007                0                 0.000000              0
11697               0                 0.000000              0
8118                1                20.000000              0
7131                1               149.200000              0
1545                7               250.333333              0

       Informational_Duration  ProductRelated  ProductRelated_Duration  \
7808                      0.0             154              4800.574762
1327                      0.0              43              1418.500000
3235                      0.0              34              1001.166667
3936                    258.0              61              5233.590476
4537                      0.0               1                 0.000000
...                       ...             ...                      ...
2007                      0.0               2                15.000000
11697                     0.0               1                 0.000000
8118                      0.0              21               442.000000
7131                      0.0              13               272.008333
1545                      0.0               7               180.333333

       BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  \
7808      0.014474   0.032873    0.000000         0.0   Oct                 2
1327      0.000000   0.018182    0.000000         0.0   Mar                 4
3235      0.000000   0.017959    0.000000         0.0   May                 2
3936      0.009091   0.035240    0.000000         0.0   May                 2
4537      0.200000   0.200000    0.000000         0.0   May                 4
...            ...        ...         ...         ...   ...               ...
2007      0.000000   0.100000    0.000000         0.0   Mar                 1
11697     0.200000   0.200000    0.000000         0.0   Nov                 2
8118      0.008696   0.020290   42.281275         0.0   Nov                 2
7131      0.000000   0.014286   82.021436         0.0   Oct                 1
1545      0.000000   0.020000    0.000000         0.0   Mar                 2

       Browser  Region  TrafficType        VisitorType  Weekend
7808         2       1            1  Returning_Visitor     True
1327         1       2            3  Returning_Visitor     True
3235         5       4            3  Returning_Visitor     True
3936         2       4            4  Returning_Visitor    False
4537         2       3            4  Returning_Visitor    False
...        ...     ...          ...                ...      ...
2007         1       1            2  Returning_Visitor    False
11697        2       2            3  Returning_Visitor    False
8118         2       1           13  Returning_Visitor    False
7131         1       1           20  Returning_Visitor    False
1545         2       1            2        New_Visitor     True

[9864 rows x 17 columns]>
----------
<bound method NDFrame.head of        Administrative  Administrative_Duration  Informational  \
41                  0                    0.000              0
3943                0                    0.000              0
5577                1                  118.800              0
9803                2                   44.500              0
4196                0                    0.000              0
...               ...                      ...            ...
6065                1                   72.600              0
6591                5                  246.600              0
11072               0                    0.000              0
3564                5                   54.000              0
2017                9                  124.125              0

       Informational_Duration  ProductRelated  ProductRelated_Duration  \
41                        0.0               3                22.000000
3943                      0.0               2                13.000000
5577                      0.0               8               259.200000
9803                      0.0             137              7012.266796
4196                      0.0              15               225.000000
...                       ...             ...                      ...
6065                      0.0              44              1256.825000
6591                      0.0              46              1805.146667
11072                     0.0              50              2549.534524
3564                      0.0              16               487.666667
2017                      0.0              35              1988.658333

       BounceRates  ExitRates  PageValues  SpecialDay Month  OperatingSystems  \
41        0.000000   0.066667         0.0         0.6   Feb                 1
3943      0.000000   0.100000         0.0         0.0   May                 2
5577      0.000000   0.007407         0.0         0.0   Sep                 2
9803      0.008321   0.019645         0.0         0.0   Nov                 1
4196      0.000000   0.026667         0.0         0.0   May                 2
...            ...        ...         ...         ...   ...               ...
6065      0.000000   0.000000         0.0         0.0   Nov                 1
6591      0.012245   0.021224         0.0         0.0  June                 2
11072     0.012245   0.036531         0.0         0.0   Nov                 1
3564      0.000000   0.026316         0.0         0.0   May                 1
2017      0.008943   0.030662         0.0         0.0   Mar                 2

       Browser  Region  TrafficType        VisitorType  Weekend
41           1       3            2  Returning_Visitor    False
3943         5       1            6  Returning_Visitor    False
5577         2       4            2        New_Visitor    False
9803         1       1           10  Returning_Visitor     True
4196         2       7            3  Returning_Visitor    False
...        ...     ...          ...                ...      ...
6065         1       4            5        New_Visitor    False
6591         2       8            1  Returning_Visitor    False
11072        2       2            2  Returning_Visitor    False
3564         1       2            3  Returning_Visitor    False
2017         2       3            2  Returning_Visitor    False

[2466 rows x 17 columns]>

In [40]:
#Question 10
df.describe()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType
count,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000,12330.000000
mean,2.315166,80.818611,0.503569,34.472398,31.731468,1194.746220,0.022191,0.043073,5.889258,0.061427,2.124006,2.357097,3.147364,4.069586
std,3.321784,176.779107,1.270156,140.749294,44.475503,1913.669288,0.048488,0.048597,18.568437,0.198917,0.911325,1.717277,2.401591,4.025169
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,184.137500,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,1.000000,7.500000,0.000000,0.000000,18.000000,598.936905,0.003112,0.025156,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,4.000000,93.256250,0.000000,0.000000,38.000000,1464.157214,0.016813,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,27.000000,3398.750000,24.000000,2549.375000,705.000000,63973.522230,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000